@media only screen and (max-width: 1440px) {
    .leftSidebar {
        width: 250px;
    }
    .header-main {
        grid-template-columns: 250px 1fr;
        position: fixed;
        z-index: 11;
        width: 100%;
    }
    .social-icon-div li img{
        width: 30px;
    }
    .RightSidebar{
        width: 250px;
    }
    .site-main{
        grid-template-columns: 250px 1fr 250px;
    }
    .site-middle-container {
        width: 90%;
        margin: 0 auto;
    }
    .h-section-1 img {
        width: 16px;
    }
}