@media only screen and (max-width: 1440px) {
    .leftSidebar {
        width: 240px;
    }

    .header-main {
        left: 240px;
        width: calc(100% - 240px);
    }

    .social-icon-div li img {
        width: 30px;
    }

    .RightSidebar {
        width: 250px;
    }

    .RightSidebar-footer {
        width: 250px;
    }

    .chat-box {
        width: 190px;
    }

    .site-main {
        grid-template-columns: 240px 1fr 250px;
    }

    .site-middle-container {
        width: 90%;
    }

    .h-section-1 img {
        width: 16px;
    }
}